
/* style the body */
body {
    background-color: white;
}

/* style board class */
.board {     
    width: 100vw;
    height: 80vh;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto)
    
  }

  /* style cell class */
.cell {
    width: 5vw;
    height: 10vh;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    border-radius: 5px;;
    margin: 10px;
    background-color: white;
  }