


/* style the body */
body {
    background-color: white;
}

/* style .board class */
.board {     
    width: 100vw;
    height: 80vh;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto)
    
  }

  /* style cell class */
.cell {
    width: 150px;
    height: 150px;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    border-radius: 5px;;
    margin: 10px;
    background-color: white;
  }

  /* adds animation on hover of each .cell class. (makes each square spin) */
  .cell:hover {
    animation-duration: .5s;
    animation-name: spin1;
    background-color: rgba(0, 255, 255, 0.541);
  }

  /* this keyframe defines paramaters for our "spin1" animation */
  @keyframes spin1 { 
    from {                          
        transform: rotate(0deg);  /* spin FROM 0, TO 180 degrees */
    } to { 
        transform: rotate(180deg); 
    }
  }


  /* styling for our turn message and reset button */
  .turn-message {
      text-align: center;
      font-size: 2rem;
      font-family: arial;
  }
  
  .controls {
      display: flex;
      justify-content: center;
      padding: 10px;
  }

  button {
    font-size: 2rem;
    font-family: arial;
    border-radius: 5px;
  }

  


  /* add media query to allow for mobile device usage */
  @media only screen and (max-width: 600px) {


     /* .board class */
    .board {     
        width: 90vw;
        height: 50vh;
        display: grid;
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;
        grid-template-columns: repeat(3, auto);
        padding-left: 10px;
        padding-right: 10px;
        
      }
    
      /* .cell class */
    .cell {
        width: 80px;
        height: 80px;
        border: 2px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        cursor: pointer;
        border-radius: 5px;;
        margin: 3px;
        background-color: white;
      }

      .turn-message {
        text-align: center;
        font-size: 1rem;
        font-family: arial;
    }
    
    .controls {
        display: flex;
        justify-content: center;
        padding: 10px;
    }
  
    button {
      font-size: 2rem;
      font-family: arial;
      border-radius: 5px;
    }


  }