


/* style the body */
body {
  background-color: white;
}


h1 {
  font-family: arial;
  text-align: center;
  padding-top: 5rem;
}

/* style .board class */
.board {   
    z-index: 1;  
    width: 100vw;
    height: 50vh;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto)
    
  }

  /* style cell class */
.cell {
    z-index: 1;
    width: 150px;
    height: 150px;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    border-radius: 5px;;
    margin: 10px;
    background-color: white;
    opacity: 0.8;
  }




/* display X letter on hover*/
.x-hover:hover::after {
    content: "X";
    color: black;
    opacity: 1.0;
    font-family: arial;
    font-size: 6rem;
}
 /* display O letter on hover */
.o-hover:hover::after {
    content: "O";
    color: black;
    opacity: 1.0;
    font-family: arial;
    font-size: 6rem;
}



  /* adds animation on hover of each .cell class. (makes each square spin) */
  .cell:hover {
    animation-duration: .5s;
    animation-name: spin1;
    background-color: rgba(128, 128, 128, 0.609);
  }

  /* display for our .hidden and .visible classes */
  .hidden {
    display: none;
  }
  
  .visible {
    display: block;
  }


  /* this keyframe defines paramaters for our "spin1" animation */
  @keyframes spin1 { 
    from {                          
        transform: rotate(0deg);  /* spin FROM 0, TO 180 degrees */
    } to { 
        transform: rotate(180deg); 
    }
  }

 


  /* styling for our turn message and reset button */
  #game-over-text {
      text-align: center;
      font-size: 2rem;
      font-family: arial;
  }
  
  #game-over-area {
      text-align: center;
      justify-content: center;
      padding: 10px;
  }

  button {
    
    font-size: 2rem;
    font-family: arial;
    border-radius: 5px;
  }

/* add background video */
  video {
    z-index: -1;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.4;
  
  }
  .video-wrapper {
    
    
    position:static;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  


  /* add media query to allow for mobile device usage */
  @media only screen and (max-width: 600px) {


     /* .board class */
    .board {     
        width: 90vw;
        height: 50vh;
        display: grid;
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;
        grid-template-columns: repeat(3, auto);
        padding-left: 10px;
        padding-right: 10px;
        
      }
    
      /* .cell class */
    .cell {
        width: 80px;
        height: 80px;
        border: 2px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        cursor: pointer;
        border-radius: 5px;;
        margin: 3px;
        background-color: white;
      }

      .turn-message {
        text-align: center;
        font-size: 1rem;
        font-family: arial;
    }
    
    .controls {
        display: flex;
        justify-content: center;
        padding: 10px;
        
    }
  
    button {
      font-size: 2rem;
      font-family: arial;
      border-radius: 5px;
    }


  }